*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /* #### Text */

  --paleviolet: hsl(276, 100%, 81%);
  /* (sub-heading at the top of the app UI) */
  --moderateviolet: hsl(276, 55%, 52%);
  /* (chat on the left) */
  --desaturateddarkkviolet: hsl(271, 15%, 43%);
  /* (chat on the right) */
  --grayishblue: hsl(206, 6%, 79%);
  /* (placeholder text) */
  --vdarkdesaturatedviolet: hsl(271, 36%, 24%);
  /* (main heading) */
  --dkgrayishviolet: hsl(270, 7%, 64%);
  /* (paragraph) */

  /* #### Text */

  /* #### Gradients */

  --lightmagenta: hsl(293, 100%, 63%);
  --lightviolet: hsl(264, 100%, 61%);
  /* linear gradient for bg colors */

  /* #### Gradients */

  /* ### Secondary */

  --white: hsl(0, 0%, 100%);
  --lightgrayishviolet: hsl(270, 20%, 96%);
  /* (app background) */
  --vdarkdesaturatedviolet: hsl(271, 36%, 24%);
  /* (submit button background) */
  --vlightmagenta: hsl(289, 100%, 72%);
  /* (radio button outline) */

  /* ### Secondary */
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif; /* 400, 500, 700 */
  background: var(--grayishblue);
}

main::before,
main::after {
  content: "";
  position: absolute;
  width: clamp(200px, 50%, 600px);
  height: 85vh;
  z-index: -1;
}

main::before {
  background: linear-gradient(155deg, var(--lightmagenta), var(--lightviolet));
  left: -200px;
  top: 0;
  border-radius: 0 0 300px 250px;
}

main::after {
  background: var(--lightgrayishviolet);
  right: -200px;
  bottom: 0;
  border-radius: 300px 250px 0 0;
}

.phone {
  width: 75%;
  max-width: 370px;
  background: var(--white);
  z-index: 500;
  margin: 5rem auto;
  border-radius: 35px;
  padding: 10px;
  /* box-shadow: 0 1px 50px var(--vdarkdesaturatedviolet); */
}

.overlay {
  background: var(--lightgrayishviolet);
  border-radius: 35px;
}

.top {
  background: linear-gradient(
    to right,
    var(--lightviolet),
    var(--lightmagenta)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 30px;
  border-radius: 25px 25px 5px 5px;
  position: relative;
}

.top::before {
  content: "";
  position: absolute;
  width: 60%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 15px;
  border-radius: 0 0 20px 20px;
  background: var(--white);
}

.user {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  color: var(--white);
}

.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--white);
  margin-inline: 7px;
}

.username {
  font-weight: 700;
  color: var(--white);
}

.username span {
  font-weight: 400;
  color: var(--grayishblue);
  font-size: 0.6rem;
  display: block;
}

.phone-body {
  padding: 7px;
}
.body-text {
  font-weight: 400;
  width: 65%;
  font-size: 0.8rem;
  padding: 10px;
  margin: 10px 0;
}

.left-text {
  color: var(--moderateviolet);
  background: #d8d9cf;
}

.left-text,
.cost {
  border-radius: 15px 15px 15px 3px;
}

.right-text {
  color: var(--desaturateddarkkviolet);
  background: var(--white);
  margin-left: auto;
  border-radius: 15px 15px 3px 15px;
}

.body-imgs {
  text-align: right;
}
.body-imgs img {
  width: 50px;
  border-radius: 10px;
  margin-right: 5px;
}

.cost {
  background: linear-gradient(
    to right,
    var(--lightviolet),
    var(--lightmagenta)
  );
  display: flex;
  gap: 5px;
  color: var(--white);
}
.walk-cost {
  margin-left: auto;
}

input[type="radio"] {
  border: 1px solid var(--white);
}

/* Booking Part */
.main-text {
  max-width: 500px;
  margin: 2rem auto;
}

.main-title {
  color: var(--vdarkdesaturatedviolet);
  text-align: center;
  font-size: clamp(2rem, 2.5vw, 3rem);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 960px) {
  main::before,
  main::after {
    width: 350px;
    height: 60vh;
    z-index: -1;
  }
  main::before {
    left: -175px;
  }

  main::after {
    right: -175px;
    bottom: -200px;
  }
}

@media only screen and (min-width: 960px) {
}
