*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /* #### Text */

  --paleviolet: hsl(276, 100%, 81%);
  /* (sub-heading at the top of the app UI) */
  --moderateviolet: hsl(276, 55%, 52%);
  /* (chat on the left) */
  --desaturateddarkkviolet: hsl(271, 15%, 43%);
  /* (chat on the right) */
  --grayishblue: hsl(206, 6%, 79%);
  /* (placeholder text) */
  --vdarkdesaturatedviolet: hsl(271, 36%, 24%);
  /* (main heading) */
  --dkgrayishviolet: hsl(270, 7%, 64%);
  /* (paragraph) */

  /* #### Text */

  /* #### Gradients */

  --lightmagenta: hsl(293, 100%, 63%);
  --lightviolet: hsl(264, 100%, 61%);
  /* linear gradient for bg colors */

  /* #### Gradients */

  /* ### Secondary */

  --white: hsl(0, 0%, 100%);
  --lightgrayishviolet: hsl(270, 20%, 96%);
  /* (app background) */
  --vdarkdesaturatedviolet: hsl(271, 36%, 24%);
  /* (submit button background) */
  --vlightmagenta: hsl(289, 100%, 72%);
  /* (radio button outline) */

  /* ### Secondary */
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif; /* 400, 500, 700 */
  /* background: var(--grayishblue); */
  background: var(--lightgrayishviolet);
  /* background: #eef1ff; */
  height: 100vh;
}

main::before,
main::after {
  content: "";
  position: absolute;
  width: clamp(200px, 50%, 600px);
  height: 85vh;
  z-index: -1;
}

main::before {
  background: linear-gradient(155deg, var(--lightmagenta), var(--lightviolet));
  left: -200px;
  top: 0;
  border-radius: 0 0 300px 250px;
}

main::after {
  background: var(--lightmagenta);
  opacity: 5%;
  right: -200px;
  bottom: 0;
  border-radius: 300px 250px 0 0;
}

.phone {
  width: 75%;
  max-width: 300px;
  background: var(--white);
  z-index: 500;
  margin: 5rem auto;
  border-radius: 35px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* animation: 2s ease-in 3s 1 fadeInAnimation; */
  /* animation: fadeInAnimation 1s 0.3s 1 ease-in downwards; */
}

.overlay {
  background: var(--lightgrayishviolet);
  border-radius: 35px;
}

.top {
  background: linear-gradient(
    to right,
    var(--lightviolet),
    var(--lightmagenta)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 30px;
  border-radius: 25px 25px 5px 5px;
  position: relative;
}

.top::before {
  content: "";
  position: absolute;
  width: 60%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 15px;
  border-radius: 0 0 20px 20px;
  background: var(--white);
}

.user {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  color: var(--white);
}

.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--white);
  margin-inline: 7px;
}

.username {
  font-weight: 700;
  color: var(--white);
}

.username span {
  font-weight: 400;
  color: var(--paleviolet);
  font-size: 0.6rem;
  display: block;
}

.phone-body {
  padding: 7px;
}
.body-text {
  font-weight: 400;
  width: 65%;
  font-size: 0.8rem;
  padding: 10px;
  margin: 10px 0;
}

.left-text {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  color: var(--moderateviolet);
  background: #d8d9cf;
}

.left-text,
.cost {
  border-radius: 15px 15px 15px 3px;
}

.right-text {
  color: var(--desaturateddarkkviolet);
  background: var(--white);
  margin-left: auto;
  border-radius: 15px 15px 3px 15px;
}

.right-text,
.body-imgs {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.body-imgs {
  text-align: right;
}
.body-imgs img {
  width: 50px;
  border-radius: 10px;
  margin-right: 5px;
}

.cost {
  background: linear-gradient(
    to right,
    var(--lightmagenta),
    var(--lightviolet)
  );
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--white);
}
.walk-cost {
  font-weight: 700;
  margin-left: auto;
}

.walk-lenth {
  padding-left: 0.5rem;
  font-size: 0.7rem;
  color: var(--paleviolet);
}

input[type="radio"] {
  appearance: none;
  background-color: var(--lightmagenta);
  border: 1px solid var(--vlightmagenta);
  font: inherit;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
}
input[type="radio"]:checked {
  border: 2px solid var(--vlightmagenta);
}
.newmessage {
  position: relative;
}

input[type="text"] {
  display: block;
  background: var(--white);
  border: none;
  width: 95%;
  height: 2.5rem;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 10px auto;
}

.newmessage button {
  position: absolute;
  display: block;
  right: 0.9rem;
  top: 0.9rem;
  border: none;
  border-radius: 50%;
  background: var(--vdarkdesaturatedviolet);
  padding: 2px;
}

.newmessage span {
  font-weight: 700;
}

/* Booking Part */
.main-text {
  width: 90%;
  max-width: 500px;
  margin: 1rem auto;
  text-align: center;
  color: var(--dkgrayishviolet);
  line-height: 1.8;
}

.main-title {
  color: var(--vdarkdesaturatedviolet);
  font-size: 2.5rem;
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: var(--vlightmagenta);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 960px) {
  main::before,
  main::after {
    width: 350px;
    height: 60vh;
    z-index: -1;
  }
  main::before {
    left: -175px;
  }

  main::after {
    right: -175px;
    bottom: 0;
  }
}

@media only screen and (min-width: 960px) {
  main {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
